<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Albaran</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h2 class="container-fluid mt-3 text-center">Factura</h2>

        <div class="mb-3">
            <label for="codigoFactura" class="form-label">Codigo Factura</label>
            <input type="text" class="form-control" th:field="${factura.id}">
        </div>

        <div class="mb-3">
            <label for="codigoFactura" class="form-label">Codigo Factura</label>
            <input type="text" class="form-control" id="codigoFactura" th:field="${factura.codigoFactura}">
        </div>

    <div class="mb-3">
        <label for="cliente" class="form-label">Cliente</label>
        <input type="text" class="form-control" id="cliente" th:field="${factura.cliente.nombre}">
    </div>

        <div class="mb-3">
            <label for="fecha" class="form-label">Fecha</label>
            <input type="text" class="form-control" id="fecha" data-date-format="dd-MM-yyyy" th:field="${factura.fecha}">
        </div>

        <div class="mb-3">
            <div class="container">
                <table class="table table-striped" >
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Matricula</th>
                        <th scope="col">Lavado</th>
                        <th scope="col">Precio</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  th:each="albaran : ${factura.albaranes}">
                        <th th:text="${albaran.id}"></th>
                        <th th:text="${#temporals.format(albaran.fecha, 'dd-MM-yyyy')}" ></th>
                        <th th:text="${albaran.cliente.nombre}" ></th>
                        <th th:text="${albaran.matricula}" ></th>
                        <th th:text="${albaran.lavado.nombre}"></th>
                        <th th:text="${albaran.precio}"></th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    <div class="mb-3">
        <label for="total" class="form-label">Total</label>
        <input type="text" class="form-control" id="total" th:field="${factura.total}">
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script>
</script>
</body>
</html>