<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Lista de Lavados</title>

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}" />
</head>
<body>
<nav th:replace="fragments/navbar.html :: navbar"></nav>

<div class="container mt-5">
    <h2 class="text-center">Lista de clientes</h2>
    <div th:if="${eliminado} != null OR ${actualizado}!= null">
        <div th:if="${eliminado}== 'error' OR ${actualizado} == 'error'" th:classAppend="|alert alert-danger alert-dismissable|" role="alert" th:text="${message}"></div>
        <div th:unless="${eliminado}== 'error' OR ${actualizado} == 'error'" th:classAppend="|alert alert-success alert-dismissable|" role="alert" th:text="${message}"></div>
    </div>
    <div>
        <a class="btn btn-primary" th:href="@{/clientes/crear}">Nuevo</a>
    </div>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">CIF</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cliente : ${clientesLista}">
                <th scope="row" th:text="${cliente.id}"></th>
                <td th:text="${cliente.nombre}"></td>
                <td th:text="${cliente.cif}"></td>
                <td>
                    <a class="btn btn-warning" th:href="@{/clientes/editar/{id}(id=${cliente.id})}">Editar</a>
                    <a class="btn btn-danger" th:href="@{/clientes/eliminar/{id}(id=${cliente.id})}">Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item"  th:classappend="${1 == currentPage} ? 'disabled'">
            <a class="page-link" th:href="@{/clientes(page=1)}" ><<</a>
        </li>
        <li class="page-item" th:classappend="${1 == currentPage} ? 'disabled'" >
            <a class="page-link" th:href="@{/clientes(page=${currentPage}-1)}" ><</a>
        </li>
        <li class="page-item" th:if="${currentPage < totalPages}" th:each="i: ${#numbers.sequence(currentPage, currentPage+1)}" th:classappend="${i == currentPage} ? 'disabled'">
            <a class="page-link" th:href="@{/clientes(page=${i})}" th:text="${i}"></a>
        </li>
        <li class="page-item" th:unless="${currentPage < totalPages}"  th:classappend="${totalPages == currentPage} ? 'disabled'">
            <a class="page-link" th:href="@{/clientes(page=${totalPages})}" th:text="${totalPages}"></a>
        </li>
        <li class="page-item" th:classappend="${totalPages == currentPage} ? 'disabled'">
            <a class="page-link" th:href="@{/clientes(page=${currentPage}+1)}">></a>
        </li>
        <li class="page-item" th:classappend="${totalPages == currentPage} ? 'disabled'" >
            <a class="page-link" th:href="@{/clientes(page=${totalPages})}" >>></a>
        </li>
    </ul>
</nav>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.js}" ></script>
</body>
</html>