<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista de Lavados</title>

  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}" />
</head>
<body>
  <nav th:replace="fragments/navbar.html :: navbar"></nav>

  <div class="container mt-5">
    <h2 class="text-center">Lista de Lavados</h2>
    <div th:if="${eliminado} != null OR ${actualizado}!= null">
      <div th:if="${eliminado}== 'error' OR ${actualizado} == 'error'" th:classAppend="|alert alert-danger alert-dismissable|" role="alert" th:text="${message}"></div>
      <div th:unless="${eliminado}== 'error' OR ${actualizado} == 'error'" th:classAppend="|alert alert-success alert-dismissable|" role="alert" th:text="${message}"></div>
    </div>
    <div>
      <a class="btn btn-primary" th:href="@{/lavados/crear}">Nuevo Lavado</a>
    </div>
    <div class="container">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lavado : ${lavadosLista}">
          <th scope="row" th:text="${lavado.id}"></th>
          <td th:text="${lavado.nombre}"></td>
          <td>
            <a class="btn btn-warning" th:href="@{/lavados/editar/{id}(id=${lavado.id})}">Editar</a>
            <a class="btn btn-danger" th:href="@{/lavados/eliminar/{id}(id=${lavado.id})}">Eliminar</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item"  th:classappend="${1 == currentPage} ? 'disabled'">
        <a class="page-link" th:href="@{/lavados(page=1)}" ><<</a>
      </li>
      <li class="page-item" th:classappend="${1 == currentPage} ? 'disabled'" >
        <a class="page-link" th:href="@{/lavados(page=${currentPage}-1)}" ><</a>
      </li>
      <li class="page-item" th:if="${currentPage < totalPages}" th:each="i: ${#numbers.sequence(currentPage, currentPage+1)}" th:classappend="${i == currentPage} ? 'disabled'">
        <a class="page-link" th:href="@{/lavados(page=${i})}" th:text="${i}"></a>
      </li>
      <li class="page-item" th:unless="${currentPage < totalPages}"  th:classappend="${totalPages == currentPage} ? 'disabled'">
        <a class="page-link" th:href="@{/lavados(page=${totalPages})}" th:text="${totalPages}"></a>
      </li>
      <li class="page-item" th:classappend="${totalPages == currentPage} ? 'disabled'">
        <a class="page-link" th:href="@{/lavados(page=${currentPage}+1)}">></a>
      </li>
      <li class="page-item" th:classappend="${totalPages == currentPage} ? 'disabled'" >
        <a class="page-link" th:href="@{/lavados(page=${totalPages})}" >>></a>
      </li>
    </ul>
  </nav>

  <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.js}" ></script>
</body>
</html>