<nav th:fragment="pagin()" aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item"  th:classappend="${1 == currentPage} ? 'disabled'">
            <a class="page-link" th:href="@{/lavados(page=1)}" ><<</a>
        </li>
        <li class="page-item" th:classappend="${1 == currentPage} ? 'disabled'" >
            <a class="page-link" th:href="@{/lavados(page=${currentPage}-1)}" ><</a>
        </li>
        <li class="page-item" th:if="${currentPage < totalPages}" th:each="i: ${#numbers.sequence(currentPage, currentPage+1)}" th:classappend="${i == currentPage} ? 'disabled'">
            <a class="page-link" th:href="@{/lavados(page=${i})}" th:text="${i}"></a>
        </li>
        <li class="page-item" th:unless="${currentPage < totalPages}"  th:classappend="${totalPages == currentPage} ? 'disabled'">
            <a class="page-link" th:href="@{/lavados(page=${totalPages})}" th:text="${totalPages}"></a>
        </li>
        <li class="page-item" th:classappend="${totalPages == currentPage} ? 'disabled'">
            <a class="page-link" th:href="@{/lavados(page=${currentPage}+1)}">></a>
        </li>
        <li class="page-item" th:classappend="${totalPages == currentPage} ? 'disabled'" >
            <a class="page-link" th:href="@{/lavados(page=${totalPages})}" >>></a>
        </li>
    </ul>
</nav>